.drawer-menu {
  .drawer-menu__nav-link {
      font-size: 16px;
      line-height: 16px;
      font-weight: 800;
      padding: 15px 20px!important;
      color: #ffffff!important;

      &:hover {
        background-color: #00BCD4!important;
        color: #FFFFFF!important;
      }

      i {
          margin-right: 10px!important;
      }
  }
}