@import 'mixin';

.search-control {
	margin: 4px;
	.search-control__input-container{
		@include display(flex);
		justify-content:flex-start;

		.search-control__text{
			width: 100%;
			padding: 15px 0 15px 20px;
			font-size: 18px;
			font-family: Montserrat, sans-serif;
			border: 0 none;
			height: 52px;
			color: white;
			outline: none;
			background: #1f7f5c;
			box-sizing: border-box;
			transition: all 0.15s;
		}

		@include input-placeholder (white);

		.search-control__text:focus {
			background: rgb(64, 151, 119);
		}
		.search-control__button {
			border: 0 none;
			width: 60px;
			padding: 0;
			text-align: center;
			height: 52px;
			cursor: pointer;
		}
	}
}