@import 'mixins';

html, body {
    font-family: 'Roboto', 'Helvetica', sans-serif;
}

.wide{
    width: 100%!important;
}

.mdl-card {
    z-index: inherit;
    overflow: visible;
    padding: 15px;
    min-height: 0;
}

.mdl-layout{
    position: inherit !important;
}

.mdl-textfield {
    width: 100% !important;
}
