// Scaffolding
*, *:before, *:after { box-sizing: border-box; }
body {
	background-color: #f5f5f5;
	color: #333;
	font-size: 14px;
	font-family: Verdana, Arial, sans-serif;
	line-height: 20px;
}
a {
	text-decoration: none;
	transition: all 0.3s linear 0s;
}