@import '../../../../css/mixins';

.table-widget{
	padding: 15px 0;

	.table-widget__actions {
		padding: 0 10px;
		min-height: 36px;
		@include flex(row);

		.table-widget__links{
			.table-widget__action-button{
				background: 0 0;
				box-shadow: none;
				&:hover {
					background-color: hsla(0,0%,62%,.2);
				}
			}
		}
	}
	.table-widget__table{
		overflow-x: auto;
		overflow-y: inherit;
		box-shadow: none;
		.mdl-data-table{

			border-right: 0 solid #000;
			border-left: 0 solid #000;
		}
	}
}
