.search-result__header {
	background-color: #c5f7bb;
	.search-result__row{
		width:100%;
		padding: 5px 10px;
		display:flex;
		justify-content:center;
	}
	.search-result__col {
		width:20%;
		text-align: center;
	}
}

.search-result__container {
	.search-result__row {
		width:100%;
		padding: 5px 10px;
		display:flex;
		justify-content:center;
		&:hover {
			background-color: #D3F7DC;
		}
		.search-result__col {
			width:20%;
			text-align: center;
		}
	}
}
